<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Eat Da Burger!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="./index.html">
		<h1>Eat Da Burger!</h1>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
		aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav ml-2">
			<li class="nav-item mr-2" id="navRegister">
				<a class="nav-link" href="#">Register</a>
			</li>
			<li class="nav-item mr-2" id="navLogin">
				<a class="nav-link" href="#">Login</a>
			</li>
			<li class="nav-item mr-2" id="navLogout">
				<a class="nav-link" href="#">Logout</a>
			</li>
		</ul>
	</div>
</nav>

<body>
	<div class="container jumbotron align-self-center jumbotron-fluid">

		{{{ body }}}
	</div>
</body>

</html>